<div class="menu-list menu-fixed flex">
  <a routerLink="available-students" routerLinkActive="active">Available Students</a>
  <a routerLink="shortlisted-students" routerLinkActive="active">Shortlisted Students</a>
  <a routerLink="attended-interview-students" routerLinkActive="active">Attended Interview Students</a>
  <a routerLink = "placed-students" routerLinkActive="active">Placed Students</a>
  <a routerLink="all-students" routerLinkActive="active">All Students</a>
</div>
<div class="content-wrapper main-wrapper content-mtop">
  <router-outlet></router-outlet>
</div>