<div class="overall_div">
  <div class="add_n_sort_event">
    <button class="add-btn" (click)="addevent()"> 
      <i class="fa fa-plus-circle"></i> Add a New Event
    </button>

    <input 
      type="text" 
      class="search-box" 
      placeholder="Search" 
      (ngModelChange)="eventsearch($event)"/>

    <div class="icon-button" (click)="filter()">
      <i class="fa fa-filter"></i> Filter
    </div>

    <div class="icon-button" (click)="sort()">
      <i class="fa fa-sort"></i> Sort
    </div>
  </div>
</div>
