<div class="common-header">
    <!-- Logo Section -->
    <div class="logo-section">
        <img src="assets/images/graditlogo.png" alt="Gradit Logo" />
    </div>

    <!-- Navigation Items -->
    <div class="nav-items" [class.open]="isMenuOpen || screenWidth > 600">
        <div class="nav-item" *ngFor="let item of navItems; let i = index" [class.active]="activeIndex === i"
            (click)="toggleNavItem(i)">
            <img [src]="item.icon" alt="{{ item.label }}" class="nav-icon">
            <span class="nav-text">{{ item.label }}</span>
        </div>
    </div>

    <!-- User Profile Section -->
    <div class="profile-wrapper" style="position: relative;">
        <div class="user-profile" (click)="isProfiletoggle()">
            <img src="assets/images/placement_officer.png" alt="Profile" />
            <div class="user-info">
                <div class="name">Anand Ramakrishnan</div>
                <div class="role">Placement Officer</div>
            </div>
            <img class="arrow" style="height: 20px; width: 20px; cursor: pointer;" src="assets/icons/down-arrow.svg">
        </div>

        <div class="profile-toggle" [ngClass]="{ 'show': isMenuOpen, 'hide': !isMenuOpen }">
            <a>View profile</a>
            <a>Preferences</a>
            <a>Log out</a>
        </div>
    </div>

    <!-- Hamburger Toggle Button (only visible on small screens) -->
    <div class="nav-toggle" (click)="isMenuOpen = !isMenuOpen">
        <i class="fas fa-bars"></i>
    </div>

</div>