<div class="overall_div">
    <div class="header_company row mx-0">
        <button class="add-cmp col-md-3" (click)="toggleSidebar()">
            <i class="fa fa-plus-circle" style="margin-right: 6px;"></i>
            Add a New Company
        </button>
        <div class="col-md-4"></div>
        <div class="search-sort col-md-4 p-0">
            <input type="text" class="search-box col-md-4" placeholder="Search" (ngModelChange)="eventsearch($event)" />

            <div class="icon-button col-md-3" (click)="filter()">
                <i class="fa fa-filter"></i> Filter
            </div>

            <div class="icon-button col-md-3" (click)="sort()">
                <i class="fa fa-sort"></i> Sort
            </div>
        </div>
    </div>

    <div class="company-card-grid">
        <div class="company-card" *ngFor="let company of CompaniesList">
            <div class="card-header">
                <img [src]="company.logoUrl" class="company-logo" />
                <div class="company-details">
                    <h3 class="company-name">{{company.name}}</h3>
                    <p class="company-location"><i class="fas fa-map-marker-alt"></i> {{company.location}}</p>
                </div>
                <div class="card-menu">
                    <i class="fas fa-ellipsis-v menu-icon"></i>
                </div>
            </div>
            <div class="card-sub-details">
                <p class="industry"><i class="fas fa-briefcase"></i>{{company.industry}}</p>
                <p class="size"><i class="fas fa-users"></i>{{company.size}}</p>
            </div>

            <p class="description">
                {{company.description}}
            </p>

            <div class="card-footer">
                <div>
                    <div class="placement-events"><i class="fas fa-calendar-alt"></i>{{company.placementEvents}} Placement events</div>
                </div>
                <div class="footer-item">
                    <p class="students-placed"> <i class="fas fa-user-graduate"></i>{{company.studentsPlaced}} Students<span
                            style="color: #757575;"> Placed</span></p>
                    <p> ₹ Avg. CTC: {{company.avgCtc}} LPA</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar" [class.active]="issidebarvisible">
        <form [formGroup]="addCompanyForm" (ngSubmit)="addCompany()">
            <div class="sidebar-header">
                <button class="close-btn" (click)="toggleSidebar()">&#10005;</button>
                <h6 style="font-size: 17px;">Add a New Company</h6>
                <p style="font-size: 12px;">detail out the new company information with required fields</p>
            </div>
            <div class="sidebar-content">
                <div class="container">

                    <div class="step-header">
                        <div class="step-icon">1</div>
                        <h6>Company Basics</h6>
                    </div>

                    <div class="sidebar-sub-section">
                        <label for="company_name">Comnpany name</label>
                        <input
                            [class.invalid]="addCompanyForm.get('companyName')?.invalid && addCompanyForm.get('companyName')?.touched"
                            type="search" id="company_name" formControlName="companyName">

                        <div class="error-text"
                            *ngIf="addCompanyForm.get('companyName')?.invalid && addCompanyForm.get('companyName')?.touched">
                            Company name is required.
                        </div>

                        <label for="description">Company description</label>
                        <textarea id="company_description" formControlName="companyDescription"></textarea>

                        <label for="location">Location</label>
                        <input type="text" id="location" formControlName="location">

                        <div class="dropdown-label-flex">
                            <label for="industry_type">Industry type</label>
                            <label for="employee_count">No of employees</label>
                        </div>
                        <div class="dropdown-flex">
                            <ng-select [items]="industryOptions" bindValue="name" placeholder="Select Industry"
                                bindLabel="name" [searchable]="true" [clearable]="true" formControlName="industryType"
                                [class.invalid]="addCompanyForm.get('industryType')?.invalid && addCompanyForm.get('industryType')?.touched">
                            </ng-select>
                            <div class="error-text"
                                *ngIf="addCompanyForm.get('industryType')?.invalid && addCompanyForm.get('industryType')?.touched">
                                Industry type is required.
                            </div>
                            <ng-select [items]="employeeOptions" bindValue="name" [searchable]="true" [clearable]="true"
                                bindLabel="name" formControlName="numberOfEmployees">
                            </ng-select>
                        </div>
                    </div>

                    <div class="step-header">
                        <div class="step-icon">2</div>
                        <h6>Contact Details</h6>
                    </div>
                    <div class="sidebar-sub-section">
                        <label for="contact_name">Contact person name</label>
                        <input type="text" id="contact_name" placeholder="Name" formControlName="contactPersonName"
                            [class.invalid]="addCompanyForm.get('contactPersonName')?.invalid && addCompanyForm.get('contactPersonName')?.touched">

                        <div class="error-text"
                            *ngIf="addCompanyForm.get('contactPersonName')?.invalid && addCompanyForm.get('contactPersonName')?.touched">
                            Contact person name is required.
                        </div>

                        <div class="dropdown-label-flex">
                            <label for="contact_email">Contact Email</label>
                            <label for="contact_number">Phone number</label>
                        </div>

                        <div class="dropdown-flex">
                            <input type="text" id="contact_email" placeholder="Email" formControlName="contactEmail">
                            <input type="text" id="contact_number" placeholder="Contact number"
                                formControlName="phoneNumber"
                                [class.invalid]="addCompanyForm.get('phoneNumber')?.invalid && addCompanyForm.get('phoneNumber')?.touched">
                        </div>

                        <div class="error-text" style="margin-left: 52%;"
                            *ngIf="addCompanyForm.get('phoneNumber')?.touched && addCompanyForm.get('phoneNumber')?.errors">
                            <span *ngIf="addCompanyForm.get('phoneNumber')?.errors?.['required']">
                                Contact number is required.
                            </span>
                            <span *ngIf="!addCompanyForm.get('phoneNumber')?.errors?.['required'] 
                                  && addCompanyForm.get('phoneNumber')?.errors?.['minlength']">
                                Contact number must be at least 10 digits.
                            </span>
                            <span *ngIf="!addCompanyForm.get('phoneNumber')?.errors?.['required']
                                   && !addCompanyForm.get('phoneNumber')?.errors?.['minlength']
                                   && addCompanyForm.get('phoneNumber')?.errors?.['maxlength']">
                                Contact number must not exceed 10 digits.
                            </span>
                            <span *ngIf="!addCompanyForm.get('phoneNumber')?.errors?.['required']
                                   && !addCompanyForm.get('phoneNumber')?.errors?.['minlength']
                                   && !addCompanyForm.get('phoneNumber')?.errors?.['maxlength']
                                   && addCompanyForm.get('phoneNumber')?.errors?.['pattern']">
                                Contact number must be digits only.
                            </span>
                        </div>


                        <label for="company_website">Company Website</label>
                        <input type="text" id="company_website" placeholder="Enter the URL"
                            formControlName="companyWebsite">
                    </div>


                    <div class="step-header">
                        <div class="step-icon">3</div>
                        <h6>Placement Details</h6>
                    </div>

                    <div class="sidebar-sub-section">
                        <label for="placement_events">Participated placement events</label>
                        <ng-select [items]="placementEventOptions" [multiple]="true" bindValue="name"
                            [searchable]="true" bindLabel="name" [closeOnSelect]="false"
                            formControlName="participatedPlacementEvents"
                            [class.invalid]="addCompanyForm.get('participatedPlacementEvents')?.invalid && addCompanyForm.get('participatedPlacementEvents')?.touched">
                        </ng-select>

                        <div class="error-text"
                            *ngIf="addCompanyForm.get('participatedPlacementEvents')?.invalid && addCompanyForm.get('participatedPlacementEvents')?.touched">
                            Placement event is required.
                        </div>

                        <div class="toggle-container">
                            <label class="switch">
                                <input type="checkbox" id="mou_signed" formControlName="mouSigned" />
                                <span class="slider round"></span>
                            </label>
                            <div class="toggle-label">
                                <label for="mou_signed">MoU Signed with college</label>
                                <p>Mark if the institution and the company have agreed to collaborate for placements,
                                    internships or training, and that understanding has been formalized in writing.</p>
                            </div>
                        </div>

                        <div class="dropdown-label-flex">
                            <label for="students_placed">Students placed so far</label>
                            <label for="average_ctc">Average CTC(in ₹ lakhs)</label>
                        </div>

                        <div class="dropdown-flex">
                            <input type="text" formControlName="studentsPlacedSoFar" placeholder="Students Placed" />
                            <input type="text" formControlName="averageCtc" placeholder="Average CTC"
                                [class.invalid]="addCompanyForm.get('averageCtc')?.invalid && addCompanyForm.get('averageCtc')?.touched" />
                        </div>
                        <div class="error-text" style="margin-left: 52%;"
                            *ngIf="addCompanyForm.get('averageCtc')?.invalid && addCompanyForm.get('averageCtc')?.touched">
                            Please enter a valid number (integer or decimal).
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-footer">
                <input class="cancel_btn" (click)="toggleSidebar()" type="button" value="Cancel">
                <input class="submit_btn" [disabled]="addCompanyForm.invalid" type="submit"
                    value="Save Company Details">
            </div>
        </form>
    </div>

</div>