.overall_div {
  padding: 20px;
}

.add-cmp {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  .toggle-label {
    max-width: calc(100% - 60px);
    ;

    label {
      font-weight: 500;
      color: #333;
      margin-bottom: 5px;
      display: block;
    }

    p {
      font-size: 13px;
      color: #666;
      margin: 0;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;

    &::before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked+.slider {
    background-color: #4F46E5;
  }

  input:checked+.slider::before {
    transform: translateX(20px);
  }
}

.sidebar-footer {
  display: flex;
  gap: 1rem;

  .cancel_btn,
  .submit_btn {
    padding: 5px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  .cancel_btn {
    background-color: transparent;
    border: 1px solid #9ca3af;
    color: #374151;
  }

  .submit_btn {
    background-color: #4F46E5;
    color: white;
  }

  .submit_btn:disabled {
    background-color: #a5b4fc;
    cursor: not-allowed;
  }
}

  .invalid {
    border-color: #dc3545 !important;
    .ng-select .ng-select-container{
      border-color: #dc3545 !important;
    }
  }