.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;

    .side-bar {
      width: 20%;
      background: #333;
      color: #fff;
      padding: 10px;
      position: relative;
    }

    .page-wrapper {
      width: 80%;
    }
  }

  /* -------- Media Queries -------- */

  // For tablets and below
  @media (max-width: 1024px) {
    .main-content {
      flex-direction: row;
      .page-wrapper {
        width: 80%;;
      }
      .side-bar{
        width: 20%;
      }
    }
  }

  // For mobile devices
  @media (max-width: 600px) {

    .main-content {
      .page-wrapper {
        padding: 10px;   
        width: 100%;
      }

      .side-bar {
        display: none;
      }
    }
  }
}
