  .footer1 {
    font-size: 12px;
    width: 100%;
    padding-top: 4px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    padding: 8px 17px 9px;
    position: relative;
    z-index: 3;
    height: 35px
    
  }

    .footcard{
      width: 48%;
    }

  a{
    color: #8f8989 !important;
    cursor: pointer;
    text-decoration: underline !important;
    margin-right: 2%;
  }

  