  .footer1 {
    font-size: 12px;
    width: 100%;
    padding-top: 4px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    padding: 8px 17px 9px;
    position: relative;
    z-index: 3;
    
  }

  .card{
    color: black;
    width: 48%;
  }

  a{
    color: #8f8989;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 2%;
  }

  